<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
	body{
		background-color: rgb{{ color }};
	}
</style>
<body>
    <div>
        <center>
            <h1>Wellcome</h1>
        </center>
    </div>

    <br><br><br><br><br><br><br>

    <div>
        <center>
	<button>
                <a href="{{ url_for('home') }}">Click Here</a>
	</button>
	<br><br>
                <h2>counter: {{ all_clicks }}</h2>
        </center>
    </div>
</body>
</html>
